
h1{
    background-image: url("pattern.webp");
    height: 100px;
    font-size: 100px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    color:khaki;
    padding-bottom: 10px;
}
h2{
    font-family:Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
span{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
.brushes{
    background-color: mediumspringgreen;
}
.frames{
    background-color: lightcoral;
}
.paint{
    background-color: skyblue;
}
figure.need-moving{
    position: relative;
    right: 40px;
}
figcaption{
    font-weight: bold;
    font-size: 20px;
}